<nav>
  <ul>
    <li class="item-r"><a href="#">Log Out</a></li>
    <li class="item-r"><a routerLink="/customer-save">Registro</a></li>
    <h2>Cart Front</h2>
  </ul>
</nav><br />
<div id="container">

  <div id="fromBox">
      

      <form #loginForm="ngForm">
          <h2><b>Log in</b></h2>
          <input type="email" name="username" id="username" #username="ngModel" placeholder="UserName"
              [(ngModel)]="user.username" />
          <br>

          <input type="password" name="password" id="password" #password="ngModel" placeholder="Password"
              [(ngModel)]="user.password" />
          <br>
          <button (click)="ingresar()">Ingresar</button>
          <br>
          <br>
          <a routerLink="/customer-save">No tienes cuenta?</a>
          
      </form>
      <br>
      

  </div>


</div>