

<div *ngIf="showMsg">
  <p *ngFor="let msg of mensajes">
      {{msg}}
  </p>
</div>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="customer-list.component.css">
  <title>Customers</title>
</head>
<i class="fas fa-trash-alt"></i>
<body>
  <nav>
    <ul>
      <h2>Cart Front</h2>
    </ul>
  </nav><br/>
  <h3>{{titulo}}</h3>
  <div id="main-container">
    <table id="tabla" >
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>
        <tr *ngFor="let customer of customers">
          <th>{{customer.email}}</th>
          <th>{{customer.name}}</th>
          <th>
            <button (click)="['/customer-edit',customer.email]">Editar</button>
          </th>
          <th>
            <button (click)="delete(customer.email)">Borrar</button>
          </th>
        </tr>
    </table>
  </div>
</body>
</html>

