<nav>
    <ul>
      <li class="item-r">
        <a routerLink="salir()">Log Out</a>
      </li>
       <li class="item-r">
        <a routerLink="/paymenmethod-list">PaymenMethod List</a>
      </li>
      <li class="item-r">
        <a routerLink="/product-list">Product List</a>
      </li>
      <li class="item-r">
        <a routerLink="/shopping-cart-list">Shopping Cart</a>
      </li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br />
  <h3>{{titulo}}</h3>
  <div *ngIf="showMsg">
    <p *ngFor="let msg of mensajes">
      {{msg}}
    </p>
  </div>
  <div id="main-container">
    <table id="tabla">
      <thead>
        <tr>
          <th>Email</th>
          <th>Name</th>
          <th>Role</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>
      <tr *ngFor="let customer of customers">
        <th>{{customer.email}}</th>
        <th>{{customer.name}}</th>
        <th>{{customer.role}}</th>
        <th>
          <button [routerLink]="['/customer-edit',customer.email]">Editar</button>
        </th>
        <th>
          <button (click)="delete(customer.email)">Borrar</button>
        </th>
      </tr>
    </table>
  </div>
