<nav>
    <ul>
      <li class="item-r">
        <a routerLink="logout()">Log Out</a>
      </li>
       <li class="item-r">
        <a routerLink="/paymenmethod-list">PaymenMethod List</a>
      </li>
      <li class="item-r">
        <a routerLink="/product-list">Product List</a>
      </li>
      <li class="item-r">
        <a routerLink="/shopping-cart-list">Shopping Cart</a>
      </li>
      <h2>Cart Front</h2>
    </ul>
</nav><br />
<div id="main-container">
  <table id="tabla">
    <thead>
      <tr>
        <th>CarId</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Image</th>
        <th>Total</th>
      </tr>
    </thead>
    <tr  **ngFor="let product of products">
      <th>{{product.shoppingCartId}}</th>
      <th>{{product.name}}</th>
      <th>{{product.productId}}</th>
      <th>{{product.total/product.quantity | currency:'COP '}}</th>
      <th>{{product.quantity}}</th>
      <th>
        <button [routerLink]="['/preview-lista/lista-compras',customer.email]"><i class="fas fa-shopping-cart fa-2x"></i></button>
      </th>
      <th>
        <a href="{{product.image}}" target="_blank"><img [src]="product.image " fallimg="default" class="img-fluid " width="50px" height="50px"> </a>
      </th>
      <th>{{product.total | currency:'COP '}}</th>
    </tr>
  </table>
</div>
