<nav>
    <ul>
      <li class="item-r"><a (click)="logout()">Log Out</a></li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br />
<div id="container">

    <div id="fromBox">       
        <form #productFrom="ngForm">
            <h2>Registro de SphCart</h2>    
            <input type="Email" name="email" id="email" #email placeholder="Email" [(ngModel)]="shoppingCart.customerEmail"/> <br/>
            <br>
            <button (click)="createCart()">Create</button>
            <button routerLink="/shopping-cart-list">Cancel</button>
        </form>    
    </div>
</div>
