<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Customers</title>
</head>

<body>
  <nav>
    <ul>
      <li class="item-r">
        <a routerLink="salir()">Log Out</a>
      </li>
      <li class="item-r">
        <a routerLink="/tienda">Tienda</a>
      </li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br/>
  <div id="main-container">
    <table id="tabla">
      <thead>
        <tr>
            <th>ProId</th>
            <th>Price</th>
            <th>Items</th>
            <th>Total</th>
            <th>Image</th>
            <th>Delete</th>
        </tr>
      </thead>
      <tr *ngFor="let product of products2">
        <th>{{product.productId}}</th>
        <th>{{product.total/product.quantity | currency:'COP '}}</th>
        <th>{{product.quantity}}</th>
        <th>{{product.total | currency:'COP '}}</th>
        <th class="text-center">
          <a href="{{product.image}}" target="_blank"><img [src]="product.image " fallimg="default" class="img-fluid " width="50px" height="50px"> </a>
      </th>
        <th>
          <button (click)="delete(product.productId)">Borrar</button>
        </th>
      </tr>
    </table>
    
  <div class="form-group row">
        
    <form #DetalletForm="ngForm">
        <h2>Product Edit</h2>
        <input class="form-control " type="text" placeholder="Card Number" name="cardNumber" [(ngModel)]="purchase.cardNumber" required minlength="16" maxlength="19" #cardNumber="ngModel">
        <br>
        <select class="custom-select" name="cardType" #cardType placeholder="Card Type" [(ngModel)]="purchase.cardType">
        <option *ngFor="let payment of payments" value="{{payment.payId}}">{{payment.name}}</option>
      </select>
        <br>
        <input class="form-control " type="date" name="expirationDate" [(ngModel)]="purchase.expirationDate" required #expirationDate="ngModel">
        <br>
        <input class="form-control " type="password" placeholder="CVV" name="cvv" [(ngModel)]="purchase.password" required minlength="4" maxlength="4" #cvv="ngModel">
        <br>
        <br/>
        <button (click)="closePurchase()">Finalizar Compra</button>
    </form>

</div>
  </div>
</body>
</html>
