<nav>
    <ul>
      <li class="item-r"><a href="#">Log Out</a></li>
      <li class="item-r"><a href="#">Pagar Ahora</a></li>
      <li class="item-r"><a [routerLink]="['/detalle-compra',email]">Detalle Compra</a></li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br />
  <h3>Lista de Productos</h3>
  <div class="row">
            <div  *ngFor="let product of products">
                <div class="card">
                    <img src={{[product.image]}} style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title"> <b> {{product.name}}</b></h4>
                        <p class="card-text"> <b>Detail:</b> {{product.detail}}</p>
                        <p class="card-text"> <b></b> {{product.price | currency:'COP '}}</p>
                        <input class="form-control" [(ngModel)]="quantity" type="number" name="quantity">
                        <div class="">
                            <button class="btn" (click)="addProduct(product.proId,product.name)" class="card-link">Comprar</button>
                        </div>
                    </div>
        </div>
        </div>
  </div>

