* {
    margin:0;
    padding:0;
    overflow: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #0066cc;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 20px;
    background-color: #0066cc;
  }
  
  ul li{
      display: inline-block;
  }
  
  ul li a{
      color: white;
      text-decoration: none;
      padding: 20px 20px;
      display: block;
  
  }
  ul li a:hover{
      background-color:  #00264d;
  }
  
  
  h2{
      color: rgb(4, 29, 83);
      text-align: left;
      text-decoration: solid;
      text-transform: capitalize;
      margin-left:20px;
      margin-top: 10px;
      margin-block-end:10px;
  
  }

  .item-r{
      float: right;
  }

.row{
    width: 70%;
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    
}

  .card{
     display: flex;
     flex-wrap: wrap;
  }

  .image{
    height: 50%;
    width: 50%;

  }

  .card-body{
      margin-left: 10px;
      border-radius: 5px solid;
  }

  h3{
      color: rgb(4, 29, 83);
      text-align: center;
      text-decoration: solid;
      text-transform: capitalize;
      font-size: 24px;
      margin-left:20px;
      margin-top: 10px;
      margin-block-end:10px;
  
  }
