body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #0066cc;
    align-content: center;
}


li {
    float: right;
}
  
li a {
    display: block;
    padding: 20px;
    background-color: #0066cc;
}

ul li{
    display: inline-block;
}

ul li a{
    color: white;
    text-decoration: none;
    padding: 20px 20px;
    display: block;

}
ul li a:hover{
    background-color:  #00264d;
}

h3{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 22px;
}
  
h2{
    color: white;
    text-align: left;
    text-decoration: solid;
    text-transform: capitalize;
    margin-left:20px;
    margin-top: 10px;
    margin-block-end:10px;
  
}

.row {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.card {
    width: 100%;
    display: block;
  }

.car-body{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
}

button {
    background: blue;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 0.75em 2em;
    letter-spacing: 0.05rem;
    text-align: center;
    font-size: medium;
    border-radius: 5px;
    color: white;
    width: 70%;
    margin-top: 10px;
  }
