<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Shopping Produts</title>
  </head>
  
  <body>
    <nav>
      <ul>
         <li class="item-r">
          <a routerLink="/paymenmethod-list">PaymenMethod List</a>
        </li>
        <li class="item-r">
          <a routerLink="/customer-list">Customer List</a>
        </li>
        <li class="item-r">
          <a routerLink="/product-list">Product List</a>
        </li>
        <li class="item-r">
          <a routerLink="/shopping-product-save">Shopping Product Save</a>
        </li>
  
        <h2>Cart Front</h2>
      </ul>
    </nav><br />
    <h3>{{title}}</h3>
    <div id="main-container">
      <table id="tabla">
        <thead>
          <tr>
            <th>ShprId</th>
            <th>ProId</th>
            <th>CarId</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Editar</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tr *ngFor="let shpr of shoppingProducts">
          <th>{{shpr.shprId}}</th>
          <th>{{shpr.productId}}</th>
          <th>{{shpr.shoppingCartId}}</th>
          <th>{{shpr.quantity}}</th>
          <th>{{shpr.total}}</th>
          <th>
            <button [routerLink]="['/shopping-product-edit',shpr.shprId]">Editar</button>
          </th>
          <th>
            <button (click)="delete(shpr.proId)">Borrar</button>
          </th>
        </tr>
      </table>
    </div>
  </body>
  
  </html>
