<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
</head>

<body>
  <nav>
    <ul>
       <li class="item-r">
        <a routerLink="/paymenmethod-list">PaymenMethod List</a>
      </li>
      <li class="item-r">
        <a routerLink="/customer-list">Customer List</a>
      </li>
      <li class="item-r">
        <a routerLink="/shopping-product-list">Shopping Product</a>
      </li>
      <li class="item-r">
        <a routerLink="/shopping-cart-save">Shopping Cart Save</a>
      </li>

      <h2>Cart Front</h2>
    </ul>
  </nav><br />
  <h3>{{title}}</h3>
  <div id="main-container">
    <table id="tabla">
      <thead>
        <tr>
            <th>CarId</th>
            <th>Total</th>
            <th>Items</th>
            <th>Email</th>
            <th>PayId</th>
            <th>Enable</th>
            <th>Disabled</th>
            <th>Borrar</th>
            <th>Clear</th>
        </tr>
      </thead>
      <tr *ngFor="let shpcar of shpcars">
        <th>{{shpcar.carId}}</th>
        <th>{{shpcar.total | currency:'COP '}}</th>
        <th>{{shpcar.items}}</th>
        <th>{{shpcar.customerEmail}}</th>
        <th>{{shpcar.paymentMethodId}}</th>
        <th>{{shpcar.enable}}</th>
        <th>
          <button (click)="disabled(shpcar.carId)">Habilitar</button>
        </th>
        <th>
          <button (click)="delete(shpcar.carId)">Borrar</button>
        </th>
        <th>
          <button (click)="clearCart(shpcar.carId)">Borrar</button>
        </th>
      </tr>
    </table>
  </div>
</body>

</html>
