<nav>
    <ul>
      <li class="item-r"><a href="#">Log Out</a></li>
      <li class="item-r"><a routerLink="/paymenmethod-list">Payment Method List</a></li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br />
<div id="container">

    <div id="fromBox">
        
        <form #paymenMethodForm="ngForm">
            <h2>Payment Method Edit</h2>
            <input readonly type="payId" name="payId" id="payId" #payId placeholder="PayId" [(ngModel)]="paymenMethod.payId"/> <br/>
            <input type="text" name="name" id="name" #name placeholder="Name" [(ngModel)]="paymenMethod.name"/> <br/>
            <select name="enable" id="enable" #enable [(ngModel)]="paymenMethod.enable">
                <option *ngFor="let enable of enables" [value]="enable.id">
                    {{enable.name}}
                </option>
            </select>
            <br/>
            <button (click)="update()">Edit</button>
            <button routerLink="/paymenmethod-list">Cancel</button>
        </form>
    </div>
</div>
