<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Front Cart</title>
  <link rel="stylesheet" href="app.component.css">>
</head>
<body>
  <div *ngIf="isAuth()">
    
    <!--<a routerLink="/customer-list">Customer List</a>
      <a routerLink="/customer-save">Customer Save</a>
    <br/>
    <a routerLink="/product-list">Product List</a>
    <br/>
    <a routerLink="/product-save">Product Save</a>
    <br/>
    <a routerLink="/paymenmethod-list">PaymenMethod List</a>
    <br/>
    <a routerLink="/paymenmethod-save">PaymenMethod Save</a>-->
  </div>
  <router-outlet></router-outlet>
</body>
</html>
