<nav>
    <ul>
        <li class="item-r">
            <a routerLink="logout()">Log Out</a>
          </li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br />
<div id="container">

    <div id="fromBox">
        
        <form #CustomerForm="ngForm">
            <h2>Registro</h2>
            <input type="email" name="email" id="email" #email placeholder="Email" [(ngModel)]="customer.email" />
            <br>
            <input type="password" name="token" id="token" #token placeholder="Password" [(ngModel)]="customer.token" />
            <br>
            <input type="name" name="name" id="name" #name placeholder="Name" [(ngModel)]="customer.name" />
            <br>
            <input type="addres" name="addres" id="addres" #addres placeholder="Addres"
                [(ngModel)]="customer.address" />
            <br>
            <input type="phone" name="phone" id="phone" #phone placeholder="Phone" [(ngModel)]="customer.phone" />
            <br>
            <select name="enable" id="enable" #enable placeholder="Enable" [(ngModel)]="customer.enable">
                <option *ngFor="let enable of enables" [value]="enable.id">
                    {{enable.name}}
                </option>
            </select>
            <br />
            <select name="role" id="role" #enable placeholder="Role" [(ngModel)]="customer.role">
                <option *ngFor="let role of role" [value]="role.id">
                    {{role.name}}
                </option>
            </select> <br>
            <button (click)="save()">Save</button>
            <button routerLink="/login">Cancel</button>
        </form>

    </div>


</div>

