<nav>
    <ul>
      <li class="item-r"><a (click)="logout()">Log Out</a></li>
      <li class="item-r"><a routerLink="/shopping-cart-list">Shopping Cart List</a></li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br />
<div id="container">

    <div id="fromBox">
        
        <form #ProductForm="ngForm">
            <h2>Shopping Cart Edit</h2>
            <input readonly type="carId" name="carId" id="carId" #carId placeholder="CarId" [(ngModel)]="shoppingCart.carId" />
            <br>
            <input readonly type="number" name="total" id="total" #totla placeholder="Total" [(ngModel)]="shoppingCart.total" />
            <br>
            <br>
            <input readonly type="email" name="email" id="email" #email placeholder="Email" [(ngModel)]="shoppingCart.customerEmail" />
            <br>
            <input type="items" name="items" id="items" #itemas placeholder="Items" [(ngModel)]="shoppingCart.items" />
            <br>
            <input type="number" name="payId" id="payId" #payId placeholder="PayId" [(ngModel)]="shoppingCart.paymentMethodId" />
            <br>
            <input type="number" name="payId" id="payId" #payId placeholder="PayId" [(ngModel)]="shoppingCart.paymentMethodId" />
            <br>
            <br>
            <select name="enable" id="enable" #enable placeholder="Enable" [(ngModel)]="shoppingCart.enable">
                <option *ngFor="let enable of enables" [value]="enable.id">
                    {{enable.name}}
                </option>
            </select>
            <br />
            <br>
            <button (click)="update()">Save</button>
            <button routerLink="/shopping-cart-list">Cancel</button>
        </form>

    </div>
</div>
