
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="customer-edit.component.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
          <li class="item-r"><a href="#">Customer</a>
          </li>
          <h2>Cart Front</h2>
        </ul>
      </nav><br/>
        <div class="editForm">
            <h1>Editar Customer</h1>
            <div *ngIf="customer">
                <div *ngIf="showMsg">
                    <p *ngFor="let msg of mensajes">
                        {{msg}}
                    </p>
                </div>
            </div>
            <form #customerForm="ngForm">
                <h3>Email</h3>
                <input readonly type="email" name="email" id="email" #email placeholder="Email" [(ngModel)]="customer.email"/> <br/>
                <h3>Nombre</h3>
                <input type="text" name="name" id="name" #name placeholder="Name" [(ngModel)]="customer.name"/> <br/>
                <h3>Direccion</h3>
                <input type="text" name="address" id="address" #address placeholder="Address" [(ngModel)]="customer.address"/> <br/>
                <h3>Telefono</h3>
                <input type="text" name="phone" id="phone" #email placeholder="Phone" [(ngModel)]="customer.phone"/> <br/>
                <h3>Cpntraseña</h3>
                <input type="text" name="token" id="token" #email placeholder="Token" [(ngModel)]="customer.token"/> <br/>
                <h3>Enable</h3>
                <select name="enable" id="enable" [(ngModel)]="customer.enable">
                    <option *ngFor="let enable of enables" [value]="enable.id">
                        {{enable.name}}
                    </option>
                </select>
                <br/>
                <button (click)="update()">Edit</button>
                <button routerLink="/customer-list">Cancel</button>
            </form>
        </div>
</body>
</html>

