<nav>
    <ul>
      <li class="item-r"><a href="#">Log Out</a></li>
      <li class="item-r"><a routerLink="/product-list">Product List</a></li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br />
<div id="container">

    <div id="fromBox">
        
        <form #ProductForm="ngForm">
            <h2>Product Edit</h2>
            <input readonly type="proId" name="proId" id="proId" #email placeholder="ProId" [(ngModel)]="product.proId" />
            <br>
            <input type="name" name="name" id="name" #token placeholder="Name" [(ngModel)]="product.name" />
            <br>
            <input type="price" name="price" id="price" #name placeholder="Price" [(ngModel)]="product.price" />
            <br>
            <input type="detail" name="detail" id="detail" #phone placeholder="Detail" [(ngModel)]="product.detail" />
            <br>
            <select name="enable" id="enable" #enable placeholder="Enable" [(ngModel)]="product.enable">
                <option *ngFor="let enable of enables" [value]="enable.id">
                    {{enable.name}}
                </option>
            </select>
            <br/>
            <button (click)="update()">Save</button>
            <button routerLink="/product-list">Cancel</button>
        </form>

    </div>
</div>
