<nav>
    <ul>
      <li class="item-r">
        <a (click)="logout()">Log Out</a>
      </li>
       <li class="item-r">
        <a routerLink="/paymenmethod-list">PaymenMethod List</a>
      </li>
      <li class="item-r">
        <a routerLink="/product-list">Product List</a>
      </li>
      <li class="item-r">
        <a routerLink="/customer-list">Customer List</a>
      </li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br />

<div id="container">

    <table>
        <thead>
            <th>CarId</th>
            <th>Email</th>
            <th>Cantidad</th>
            <th>PaymenMethod</th>
            <th>Toltal</th>
        </thead>
        <tr class="item" *ngFor="let products of products">
            <td>{{products.carId}}</td>
            <td>{{products.customerEmail}}</td>
            <td>{{products.items}}</td>
            <td>{{products.paymentMethodId}}</td>
            <td>{{products.total | currency:'COP '}}</td>
        </tr>
    </table>

</div> 

