<nav>
    <ul>
        <li class="item-r">
            <a routerLink="logout()">Log Out</a>
          </li>
      <h2>Cart Front</h2>
    </ul>
  </nav><br />
<div id="container">

    <div id="fromBox">
        
        <form #CustomerForm="ngForm">
            <h3>{{title}}</h3>
            <input type="email" name="email" id="email" #email placeholder="Email"/>
            <br>
            <button (click)="restore()">Restablecer</button>
            <button routerLink="/login">Cancel</button>
        </form>

    </div>


</div>
